@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
   --Strong-cyan: hsl(172, 67%, 45%);
   --Very-dark-cyan: hsl(183, 100%, 15%);
   --Dark-grayish-cyan: hsl(186, 14%, 43%);
   --Grayish-cyan: hsl(184, 14%, 56%);
   --Light-grayish-cyan: hsl(185, 41%, 84%);
   --Very-light-grayish-cyan: hsl(189, 41%, 97%);
   --White: hsl(0, 0%, 100%);
   --cyan: hsla(172, 73%, 32%, 0.644);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  background-color: var(--Light-grayish-cyan);
  font-family: 'Space Mono', monospace;
}

header {
  position: absolute;
  left: 48%;
  margin-top: 40px;
}

@media (max-width: 800px) {
  header {
    
  }
}